@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos {
    margin-top: v.$separacion;

    &__wave {
        margin-bottom: -1px;

    }
    &__contenido {
        background-color: v.$primario;
    }
    &__heading {
        color: v.$blanco;
        text-align: center;
        
        &--descripcion {
            font-size: 1.8rem;
            display: block; //para forzarlo que se pase para la siguiente linea abajo
        }


    }
    &__grid {
        @include m.tablet { 
            @include m.grid(3, v.$separacion);
        }
        
    }
    
    &__imagen {
        transition-property: transform;
        transition-duration: 300ms;

        &:hover {
            transform: rotate(-4deg) scale(1.2); // rotate para que rote a la derecha,  scale para que creeczca o decrezca

        }

    }
}